<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>span=%X{spanJson} %date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"} [%thread] |-%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS_LOG_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.nike.riposte.server.handler.RequestContentDeserializerHandler" level="INFO"/>
    <logger name="com.nike.riposte.server.handler.DTraceStartHandler" level="INFO"/>
    <logger name="com.nike.riposte.server.http.ResponseSender" level="INFO"/>
    <logger name="com.nike.wingtips.Tracer" level="INFO"/>
    <logger name="com.nike.wingtips.http.HttpRequestTracingUtils" level="INFO"/>
    <logger name="com.nike.riposte.server.handler.SecurityValidationHandler" level="INFO"/>

    <logger name="ACCESS_LOG" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_LOG_APPENDER" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>